
.header1{
    font-family: sans-serif;
    margin: 10px 0px;
    padding: 3px 60px;
    font-size: 20px;
    background-color: mintcream;
    color: darkturquoise;
    border: 2px solid darkturquoise;
    border-radius: 25px;
}

.header2{
    font-family: sans-serif;
    margin: 10px 2px;
    padding: 3px 10px 5px;
    font-weight: lighter;
    font-size: 25px;
    background-color: darkturquoise;
    color: mintcream;
    border-radius: 50%;
}

.header3{
    font-family: sans-serif;
    margin: 10px 0px;
    padding: 5px 30px;
    font-weight: lighter;
    font-size: 25px;
    background-color:royalblue;
    border: 2px solid navy;
    color: mintcream;
    box-shadow: 5px 5px 0px 0px black;
}